<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hola Cloud Rangers</p>
    <br>
    <img src="https://tmcalm.nl/wp-content/uploads/2020/07/docker_logo_tmc_alm.png">
    </body>
</html>
